html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style: none;
}

button,
input,
select {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img,
video {
    height: auto;
    max-width: 100%;
}

iframe {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

@media screen and (min-width: 1000px) {
    body {
        width: 80rem;
    }
}

@media screen and (max-width: 400px) {
    body {
        width: 25rem;
    }
}

html {
    height: 100%;
}

body {
    color: white;
    background-image: url("../res/bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 32rem;
}

.container > div {
    margin: 0.5rem;
}

.item1 > p {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.3rem;
    text-align: center;
}

.item2 > a {
    border: 1px solid red;
    display: block;
    text-decoration: none;
    margin: 0.5rem auto;
    width: 16rem;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.item2 > a:visited {
    text-decoration: none;
}

.item3 > p {
    font-style: italic;
    font-size: inherit;
    text-align: center;
}